body{
    background-color: #ed9a99;
    display:flex;
    flex-direction:column;
    align-items: center;
}
table,th,td {
    width:360px;
    margin:auto;
    font-size:large;
    padding:14px;
    text-align: center;
    border:2px solid;
    border-color: rgb(65,53,123);
    background-color:rgb(252,167,65);
}